body {
    width: 90%;
    margin: 30px;
    background-color: antiquewhite;
}

#profile-container {
    max-width: 300px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 0 auto;
}

#profile-image {
    width: 100%;
    height: auto;
}

#profile-name {
    text-align: center;
}

footer {
    width: 100%;
    height: 3rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}